.navbar {
  .title {
    text-align: center;
  }
  .nav {
    margin: 20px 0;
    .list {
      display: flex;
      justify-content: center;
      gap: 40px;
      .item {
        .link {
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
}
