.product {
  .wrapper {
    display: flex;
    height: calc(100vh - 156px);
    background-color: #f6f6f6;

    .imageWrap {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      .image {
        width: 80%;
        object-fit: cover;
      }
    }

    .detailsWrap {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
    }
  }

  .failed {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-weight: bold;
    text-align: center;
  }
}
